<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServerAddress" value="http://10.162.0.193:9090"/>
		
		<add key="DeviceName0" value="Datalogic Scorpio X3 (G14E29881)"/>
		<add key="MacAddress0" value="00-17-23-A9-8B-95"/>
		<add key="DeviceType0" value="Scanner"/>
		<add key="Login0" value=""/>
		<add key="Password0" value=""/>

		<add key="DeviceName1" value="Xiaomi China Shit (Android)"/>
		<add key="MacAddress1" value=""/>
		<add key="DeviceType1" value="Smartphone"/>
		<add key="Login1" value="test_login"/>
		<add key="Password1" value="test_pass"/>
	</appSettings>
</configuration>
